{% extends "base.html" %}
{% block title %} 4D标注字典 {% endblock %}
{% block page_header %} 4D标注字典-大类别 {% endblock %}

{% block content %}
<div class="twelve columns">
    <div id="all_annoclass_table">
        <div v-for="(annoclasses, category) in categories" :key="category" >
            <h4>{{ '{{category}}' }}</h4>
                <table class="u-full-width">
                    <tr>
                        <th>类别</th>
                        <th>可移动</th>
                        <th>示例图片</th>
                        <th>属性</th>
                    </tr>
                    <tr v-for="annoclass in annoclasses" :key="annoclass._id" >
                        <td>{{ '{{annoclass.name_zh}}' }}</td>
                        <td>{{ '{{annoclass.movable}}' }}</td>
                        <td>
                            <img v-for="img_path in annoclass.example_img_paths" :key="img_path" :src="img_path" width="60">
                        </td>
                        <td>
                            <div v-for="attr in annoclass.attributes" :key="attr.name">
                                <button class="button" @click="toggle_attr(annoclass.name, attr.name)">{{ '{{attr.name_zh}}' }}</button>
                                <table v-show="toggle_state(annoclass.name, attr.name)">
                                    <tr v-for="attritem in attr.items" :key="attritem.name">
                                        <td>
                                            {{ '{{attritem.name_zh}}' }}
                                        </td>
                                        <td>
                                            <img v-for="img_path in attritem.example_img_paths" :key="img_path" :src="img_path" width="60">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js_reference %}
<script src="{{ url_for('static', filename='js/all_annoclasses.js') }}"></script>

{% endblock %}

